---
---

$black: #1b0c0c
$bg: #9b622d
$deg: 1deg
$time: 17s
$bg-image: '/images/grunze-bronze.jpg'
$borders: 2px solid black

@mixin cover-size
	background: $bg url($bg-image) no-repeat center center fixed
	-webkit-background-size: cover
	-moz-background-size: cover
	-o-background-size: cover
	background-size: cover

@mixin clearfix()
	&:before,
	&:after
		content: ""
		display: table
	&:after
		clear: both

html
	@include cover-size
	overflow-y: scroll

.black
	color: $black

.strong
	font-weight: bold

body
	color: #f7f7f7
	// background-color: #a15d30
	text-align: center
	font-size: 2em
	margin: 0
	padding: 0
	font-family: 'Oswald', sans-serif
	&.cart-md article
		text-align: center
	nav.sponsors
		background-blend-mode: color-dodge
		@include cover-size
		padding: 0.3em 0
		a
			padding: 0 2em
	a
		color: $black
		&:hover
			text-decoration: underline
		&:active
			opacity: 0.5
	main
		margin: 2em 0
		padding: 0
		min-height: 20em
		img
			// -webkit-animation-name: rotate
			// -webkit-animation-duration: $time
			// -webkit-animation-iteration-count: infinite
			// -webkit-transform-origin: 50% 50%
			// -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000)
	header
		border-bottom: $borders
		nav
			padding-bottom: 0.5em
			a
				padding: 0 1em
				text-decoration: none
	footer
		border-top: $borders
		h4
			margin: 0
			padding: 1em
	h4 a
		font-weight: bold
	h1
		font-size: 5em
		font-weight: bold
		margin: 0
		color: $black
	ul
		margin-top: 0
		padding: 0
		li
			list-style: none
			font-weight: 100
			color: #f7f7f7

article
	text-align: left
	max-width: 40em
	margin: 0 auto 2em auto
	font-size: .8em
	@include clearfix()
	h2
		text-transform: uppercase
		color: $black
		margin: 0
	p
		margin: 0
		&:not(.meta)
			font-weight: 100
			margin-top: 1em
			font-size: 90%
	img.thumb
		float: left
		width: 200px
		margin-right: 1em

@keyframes rotate
	0%
		-webkit-transform: rotate(0deg)
	25%
		-webkit-transform: rotate($deg)
	75%
		-webkit-transform: rotate(-$deg)
	100%
		-webkit-transform: rotate(0deg)

@import 'buttons.css'
