<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{ site.title }}</title>
		<link rel="icon" href="/images/favicon.png">
		<style>
			@import 'https://fonts.googleapis.com/css?family=Oswald:400,700,300';
		</style>
		<link rel="stylesheet" href="/css/master.css">
	</head>
	<body>
		<header>
			<h1>POTLACH</h1>
		</header>
		<main>
			{{ content }}
		</main>
		<footer>
			<blockquote>
			<p>CONTATTI: 349/8342300 (PIERPAOLO DE IULIS) – 338/2260228 (MAURIZIO NERI)</p>
			</blockquote>
		</footer>
	</body>
</html>
