<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{ site.title }}</title>
		<link rel="icon" href="/images/favicon.png">
		<style>
			@import 'https://fonts.googleapis.com/css?family=Oswald:400,600,200';
		</style>
		<link rel="stylesheet" href="/css/master.css?build={{ site.github.build_revision }}">
		<script src="/javascripts/polyfills.js" defer></script>
		<script src="/javascripts/buttons.js" defer></script>
		<script src="/javascripts/carello.js?build={{ site.github.build_revision }}" defer></script>
		<script src="/javascripts/potlach.js?build={{ site.github.build_revision }}" defer></script>
	</head>
	<body class="{{ page.name | slugify }}">
{% include header.html %}
		<main>
			{{ content }}
		</main>
{% include footer.html %}
	</body>
</html>
